body {
    font-family: 'Oswald', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}

.half-width {
    width: 50%;
    padding-left: 2%;


}

.half-width img {
    width: 80%;

}

section {
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 150px;
}

.clr {
    background-image: linear-gradient(orange, red);
    font-size: 24px;
    text-decoration: none;
    border-radius: 10%;
    color: white;
    font-weight: 700;
    padding: 10px 40px;
}

.section-2 {
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}

p {
    padding-right: 20%;
}